.wrapper {
  background: #F7F8FA;
  margin: 0;  
  /* padding: auto; */
  width: 1497px;
  height: 1150px;
}

/******* Topbar *******/
.topbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}

.topbar .topbar-left {
  background-color: #fff;
  float: left;
  text-align: center;
  height: 70px;
  position: relative;
  width: 240px;
  z-index: 1;
  box-shadow: 0px 4px 0px rgba(79, 79, 79, 0.07) !important;
}

.topbar .topbar-left .logo {
  line-height: 70px;
  color: #1875F0;
  font-family: "Roboto";
  font-style: normal;
  font-size: 24px;
  font-weight: 900;
  text-decoration: none;
}

.topbar .topbar-left .logo .logo-sm {
  display: none;
}

.topbar .navbar-custom {
  background-color: #ffffff;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0 10px 0 0;
  margin-left: 240px;
  min-height: 70px;
  -webkit-box-shadow: 1px 0 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07) !important;
}

.topbar .navbar-custom .navbar-right .dropdown-toggle:after {
  content: initial;
}

.notification-item-list {
  max-height: 230px;
}

.navbar-custom .dropdown-menu.dropdown-menu-right {
  -webkit-transform: none !important;
  transform: none !important;
  top: 100% !important;
  right: 0 !important;
  left: auto !important;
}

.notification-list.list-inline-item:not(:last-child) {
  margin-right: 0;
}

.notification-list .nav-link {
  padding: 0 15px;
  line-height: 70px;
  color: #495057;
  max-height: 70px;
}

.notification-list .noti-icon {
  font-size: 24px;
  vertical-align: middle;
}

.notification-list .noti-icon-badge {
  display: inline-block;
  position: absolute;
  top: 16px;
  right: 10px;
}

.notification-list .notify-item {
  padding: 10px 20px;
}

.notification-list .notify-item .notify-icon {
  float: left;
  height: 36px;
  width: 36px;
  line-height: 36px;
  text-align: center;
  margin-right: 10px;
  border-radius: 50%;
}

.notification-list .notify-item .notify-icon i {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  line-height: 32px;
  margin-top: 2px;
  color: #ffffff;
}

.notification-list .notify-item .notify-details {
  margin-bottom: 0;
  overflow: hidden;
  margin-left: 45px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notification-list .notify-item .notify-details span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 12px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}

.notification-list .language-switch a img {
  float: right;
  margin-top: 3px;
}

.notification-list.show .nav-link {
  background-color: rgba(53, 69, 88, 0.05);
}

.notification-list .nav-user img {
  height: 36px;
  width: 36px;
}

.notification-list .profile-dropdown {
  width: 170px;
}

.notification-list .profile-dropdown i {
  font-size: 17px;
  vertical-align: middle;
  margin-right: 5px;
  color: #616f80;
}

.notification-list .profile-dropdown span {
  margin-top: 5px;
}

.arrow-none:after {
  border: none;
  margin: 0;
  display: none;
}

.dropdown-menu-lg {
  width: 300px;
}

.app-search {
  position: relative;
  margin-top: 18px;
}

.app-search .form-control,
.app-search .form-control:focus {
  border: 1px solid #f0f4f7;
  font-size: 12px;
  height: 34px;
    /* padding-left: 18px;
    padding-right: 40px; */
  /* margin-right: 16px; */
  font-family: "Segoe UI";
  /* background: #f0f4f7; */
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 30px;
  width: 200px;
  border: none;
  line-height: 16px;
  color: #979797;
}

.icons {
  color: #0E1D25;
  left: 20.56%;
  float: left;
  /* position: absolute; */
}

.app-search button {
  position: absolute;
  top: 9px;
  right: 26px;
  display: block;
  color: #9ca8b3;
  font-size: 11px;
  border: none;
  background-color: transparent;
}

.button-menu-mobile {
  border: none;
  color: #5b7798;
  display: inline-block;
  height: 70px;
  width: 60px;
  background-color: #ffffff;
  font-size: 24px;
}

/******* Sidemenu *******/
.side-menu {
  width: 240px;
  z-index: 10;
  background: #fff;
  bottom: 0;
  margin-top: 0;
  padding-bottom: 30px;
  position: fixed;
  top: 70px;
}



.side-menu .waves-effect .waves-ripple {
  background-color: rgba(48, 65, 155, 0.4);
}

#sidebar-menu {
  padding-top: 10px;
}

#sidebar-menu > ul > li.mm-active > a > span > .menu-arrow i {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#sidebar-menu .menu-title {
  padding: 22px 20px;
  letter-spacing: 1px;
  font-size: 11px;
  line-height: 15px;
  font-family: 'Segoe UI', sans-serif;
  color: #647787 !important;
}

#sidebar-menu > ul > li > a {
  color: #647787;
  display: block;
  padding: 13px 20px;
  font-size: 14px;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "Segoe UI", sans-serif;
  list-style-type: none;
}

#sidebar-menu > ul > li > a:hover, #sidebar-menu > ul > li > a:focus, #sidebar-menu > ul > li > a:active {
  color: #647787;
  text-decoration: none;
}

#sidebar-menu > ul > li > a > span {
  margin-left: 7px;
}

#sidebar-menu > ul > li > a i {
  line-height: 1;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
}

#sidebar-menu > ul > li > a .badge {
  margin-top: 3px;
}

#sidebar-menu > ul > li > a.mm-active {
  color: #ffffff !important;
  background-color: #3345a5;
}

#sidebar-menu .submenu li.mm-active > a {
  color: #ffffff;
  background-color: #30419b;
}

#sidebar-menu ul li {
  list-style-type: none;
}

#sidebar-menu .submenu li a {
  padding: 8px 20px 8px 10px;
  color: #7e8cda;
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#sidebar-menu .submenu li a:focus {
  background-color: left-bar;
}

#sidebar-menu .submenu li a:hover {
  background-color: #30419b;
  color: rgba(255, 255, 255, 0.8);
}

#sidebar-menu .submenu > li > a {
  padding-left: 50px;
}

#sidebar-menu .submenu > li .submenu > li > a {
  padding-left: 70px;
}

/* CONTENT */
/******* Content Page *******/
.content-page {
  margin-left: 240px;
  overflow: hidden;
}

.content-page .content {
  padding: 20px 15px 10px 15px;
  margin-top: 70px;
  margin-bottom: 60px;
}

.content-page .font-16 {
  font-family: 'Segoe UI';
  font-size: 12px;
  line-height: 16px;
  color: #787C90;
}

.content-page .text-muted {
  font-family: 'Segoe UI';
  font-size: 18px;
  line-height: 24px;
  color: #07499a;
}

/* CARD */

.card {
  border: 1px solid #EEF8FD;
  box-sizing: border-box;
  border-radius: 2px;
  /* margin-bottom: 10px;
  padding-bottom: 10px; */
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-gap: 30px;
    column-gap: 30px;
  }
}

.card-columns .card {
  margin-bottom: 30px;
}

/******* Page Title *******/
.page-title-box {
  padding: 20px 0px;
}

.page-title-box .page-title {
  font-family: 'Segoe UI';
  font-size: 36px;
  margin: 0;
  line-height: 48px;
  color: #262626;
}


/******* TABLE *******/

.table-responsive {
  border: none !important;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  /* border-top: 1px solid #dee2e6; */
}

/* == Responsive Table ==*/
table.focus-on tbody tr.focused th {
  background-color: #30419b;
  color: #ffffff;
}

table.focus-on tbody tr.focused td {
  background-color: #30419b;
  color: #ffffff;
}

span .green {
  border: 1px solid #CCCFD4;
  box-sizing: border-box;
  border-radius: 30px;
  color: #27AE60;
  font-family: Segoe UI;
  font-size: 12px;
  line-height: 14px;
}